h1 {
    color:rgb(29, 29, 29);
    font-size: 24pt;
    font-family: 'Libre Baskerville', 'Times', serif;
    font-style: italic;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 30px; 
}

p {
    color:rgb(0, 0, 0);
    font-size: 12pt;
    font-family: 'Kanit', 'Arial', sans-serif;
    font-weight: 300;
    font-style: normal;
}

input {
    font-size: 12pt;
    font-family: 'Kanit', 'Arial', sans-serif;
    font-weight: 200;
}

body {
    font-family: 'Libre Baskerville', 'Times', serif;
    font-style: italic;
    /*font-size: 30px;*/
}

* {
    box-sizing: border-box;
}

input {
    background-color: #aefaff;
    padding: 5px;
    padding-left: 10px;
    border: 1px dotted #001380;
    margin: 20px;
    border-radius: 7px;
    color:#001380;
}

/*
table[class="a"] {

}
*/

.tabela {
    background-color: rgb(73, 255, 82);
    border: 1px solid red;
    border-collapse: collapse;
    width: 100%;
}

.tabela td, .tabela th {
    border: 1px solid red;
    padding: 5px;
    font-style: normal;
}

.tabela tr:nth-child(even) > td {
    background-color: rgb(3, 110, 8);
}

.tabela th {
    color: white;
    background-color: brown;
    text-align: left;
}

.tabela tr:hover > td {
    background-color: rgba(65, 42, 165, 0.385);
    color: white;
} 

.mala {
    background-color: rgb(231, 255, 73);
    font-size: 6pt;
}

.mala tr:nth-child(even) > td {
    background-color: rgb(70, 205, 238);
}
